#contenedorImagenes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2em;
}

.img-historia {
    max-height: 400px;
}

 
#contenido {
    text-align: justify;
    padding: 3em;
}

.img-estadio {
    min-width: 100%;
}