
h2 {
    text-align: center;
}


#rss {
    text-align: center;
    
  
   
}


#crm {
    text-align: center;
    
  
   
}


#erp {
    text-align: center;
    
  
   
}



hr{
    width: 1600px;
    border:solid black 0.5px;
  
}