
            .tg  {border-collapse:collapse;border-spacing:0;}
            .tg td{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;
              padding:10px 5px;word-break:normal;}
            .tg th{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;
              overflow:hidden;padding:10px 5px;word-break:normal;}
            .tg .tg-syad{background-color:#000000;border-color:inherit;color:#ffffff;text-align:left;vertical-align:top}
            .tg .tg-4f0n{background-color:#000000;border-color:inherit;color:#ffffff;text-align:center;vertical-align:top}
#desp
{
   text-align: justify;
    width: 200px;
    margin-left: 170px;
    margin-bottom: 30px;


}

#h1
{
   text-align: justify;
   margin-left: 130px;
}
#h2
{
   text-align: justify;
   margin-left: 145px;
   margin-top: 70px;
}

.tk {border-collapse:collapse;border-spacing:0; background-color: white;}
.tk td{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;
  padding:10px 5px;word-break:normal;}
.tk th{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tk .tk-n9g5{background-color:red;border-color:inherit;color:#000000;text-align:left;vertical-align:top}
.tk .tk-4f0n{background-color:#000000;border-color:inherit;color:white;text-align:center;vertical-align:top}

#DIV1
{
margin-bottom: 50px;
}


#h3
{
   text-align: justify;
   margin-left: 180px;
   margin-top: 70px;
}