#DIV1 
{
    width: 500px;
padding: 5PX;
padding-bottom: 100PX;
text-align: justify;
}
#TABLA
{
padding: 10PX;
width: 500PX;
}
#FORM 
{
width: 500PX;

}
#DIV2
{
    padding: 30PX;
}
#contenedor
{
        background-color: #dae8fc;
        flex-grow: 1;
        padding-top: 5rem;
        padding-bottom: 5rem;
    
        padding-left: 15rem;
        padding-right: 15rem;
    
        display: flex;
        align-items: center;
}


    .table,
    tr {
            text-align: LEFT;


    }
    td {
        
        border-collapse: collapse;
    }
    tr,
    td {
        padding: 23px;
       
      }      
   