body{
    background-color: #dae8fc;
    clear: both;

}
#HistoriaLink{
    
    text-align: justify;
    clear: both;
    position: relative;
    bottom: 50px;
    width: 450px;   
    border: 100px;
    padding: 100px;
    padding-left: 250px; ;
}
#HistoriaLink2{
    clear: both;
    text-align: justify;
    position: relative;
    bottom: 800px;
    left:500px;
    padding: 100px;
    padding-left: 300px; 
    width: 900px;   
    border: 100px;   
    
}
#PartidosLink{
    text-align: justify;
    clear: both;
    position: relative;
    bottom: 950px;
    left:500px;
    padding: 100px;
    padding-left: 300px; 
    width: 900px;   
    border: 100px;
    
   
}
#ClubLink{
    clear: both;
    text-align: justify;
    position: relative;
    bottom: 1000px;
    left:0px;
    right:50px;
    padding: 100px;
    padding-left: 250px; 
    width: 400px;   
    border: 100px;

}
#TiendaLink{
    clear: both;
    text-align: center;
    position: relative;
    bottom: 1950px;
    left: 700px;
    padding: 100px;
    padding-left: 300px; 
    width: 400px;   
    border: 100px;
}
    .table,
            tr,
            td {
                border: 1px solid black;
                border-collapse: collapse;
                font-family: Arial, Helvetica, sans-serif;
                width: 500px;
            }

            tr,
            td {
                padding: 5px;
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
                width: 500px;
            }

            #Especial {
                color: black;
            }

            #MF {
                color: white;

            }
            

.table2
             tr,
            td {
                border: 1px solid black;
                border-collapse: collapse;
                font-family: Arial, Helvetica, sans-serif;
                width: 100px;
                padding: 5px;
            }

            tr,
            td {
                padding: 5px;
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
                width: 500px;
            }

            #Especial {
                color: black;
            }

            #MF {
                color: white;

            }

            
